*/sessions/*
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.phpintel/
phpintel

.DS_Store

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#/vendor/
#/application/vendor/
composer.lock

prepros-6.config
assets/scripts/cache/*.timthumb.txt
assets/uploads/*
public/index.php
public/.htaccess
application/config/database.php
/application/config/database.php
application/config/config.php
application/config/apps.php

/public/assets/scripts/cache/*

.DS_Store
.phpintel

/application/imports/*