body{
    font-family: 'Roboto', sans-serif;
    color: darkslategray!important;
    padding:0;
    margin:0;
}

.container-product{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 30px;
    max-height: 360px;

    img{
        margin-bottom: 10px;
    }    
}

h2.title-index{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.img-product{
    margin-bottom: 20px;
}

.alert-message{
    width: fit-content!important; 
}

/*  Auto hide alert messages */

#alertMessage{
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 1s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
    position: relative;  
}
@-webkit-keyframes seconds {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;   
    }
}
@keyframes seconds {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    left: -9999px;
    position: absolute;     
    }
}
// ------------------------------------------------------- 

.paginate-links{
    text-align: center;

    a{
        margin-right: 20px;
        margin-left: 20px;
        
        &:hover{
            text-decoration: none;
        }
    }
}

.flex-center{
    display: flex;
    align-items: center;
}

.nav-item{
    border-right: none; 
    margin-right: 0px;
    &:last-child{
        border: none;
    }
    @media only screen and (min-width: 768px){
        border-right: .5px solid rgba(0,0,0,.5);
        margin-right: 6px;
    }
}

.img-hover-zoom {
    overflow: hidden;

    img {
        transition: transform .5s ease;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.mb-10{
    margin-bottom: 10rem!important;
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

// ------------------------- Navbar toggles classes ---------------- 

.navbar-toggler{
    border: none!important;

    &:focus{
        outline: none;
    }
}
.icon-bar {
    width: 22px; 
    height: 2px;
    background-color: #05181f;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
 
.navbar-toggler {
    border: none!important;
    background: transparent!important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    margin-bottom: 3px;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}